################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CapitalParkExplorer/bin
/.vs/CapitalParkExplorer/config
/CapitalParkExplorer/obj/Debug
