@{
    ViewBag.Title = "Contact";
}
<h2><strong> Heritage College</h2>
<h3>Continuing Education </h3>
<h4>Web and Desktop Programming</strong></h4><br />
<h4><label>ADDRESS:</label></h4>

<address>    
    325 Boulevard de la Cité-des-Jeunes<br />
    Gatineau, Quebec J8Y 6T3<br />
    <abbr title="Phone">Phone:</abbr>
    819.123.456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>