@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>On user's selection application show park's location on the map and route from the user's location to selected park.</p>
