@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <img src="~/img/logo2_.png" width="300" />
        <h1>Ottawa Park Explorer</h1>
        <p class="lead"></p>
        <p><a href="https://ottawa.ca/en/recreation-and-parks/parks-and-green-space" class="btn btn-primary btn-lg">Learn more&raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-12">
        <h2>Your Location:</h2>
        <div class="col-md-4">325 Boulevard de la Cité-des-Jeunes<br />Gatineau, Quebec J8Y 6T3</div>
        <div class="col-md-4">
            <label>Find parks in range</label>
            <select id="range">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <span>km</span>
        </div>
        <div class="col-md-4"><label for="route">Show direction</label>&nbsp;<input id="route" type="checkbox" /></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div>
            <h2>Parks (<span id="counter"></span>)</h2>
        </div>
        
        <div id="parkList" style="overflow-y: scroll; height:600px;"></div>
    </div>
    <div class="col-md-8">
        <h2>Map</h2>
        <div id="map"></div>
    </div>
</div>
